* {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  height: 100%;
  margin: 0%;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: bisque;
}

header .title {
  background-color: white;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding-top: 5px;
  padding-left: 50px;
  padding-right: 10px;
}

body nav {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding-top: 5px;
  padding-left: 50px;
  padding-right: 50px;
}

body nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body nav ul li {
  display: inline-block;
  margin: 10px;
}

body nav ul li a {
  font-size: large;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  width: fit-content;
}

.banner {
  position: relative;
  background-color: bisque;
}

.banner img {
  max-width: 100%;
}

.banner-text {
  position: absolute;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  bottom: 10px;
  right: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--meteorite);
  margin: 0;
  width: 100%;
  background-color: bisque;
}

.aboutme {
  display: flex;
  width: 100%;
}

#parah2 {
  font-size: 200%;
  flex: 0 0 250px;
  text-align: end;
  margin-right: 30px;
  padding-right: 10px;
  padding-top: 10px;
  border-right: 2px solid;
}

#para {
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 30px;
  width: 75%;
}

.work {
  display: flex;
  width: 100%;
}

#workpages {
  font-size: 200%;
  flex: 0 0 250px;
  text-align: end;
  margin-right: 30px;
  padding-right: 10px;
  padding-top: 10px;
  border-right: 2px solid;
}

.image-grid {
  display: flex;
  flex-flow: row wrap;
  padding-top: 40px;
  padding-bottom: 30px;
  justify-content: space-around;
  position: relative;
  width: 100%;
}

.topimg {
  width: 1000px;
  height: 450px;
  margin: 20px;
  border: 4px solid rgb(0, 0, 0);
}

.btmimg {
  width: 480px;
  height: 250px;
  margin: 20px;
  border: 4px solid rgb(0, 0, 0);
}

.contact {
  display: flex;
  width: 100%;
}

#contactme {
  font-size: 200%;
  flex: 0 0 250px;
  text-align: end;
  margin-right: 30px;
  padding-right: 10px;
  padding-top: 10px;
  border-right: 2px solid;
}

.contactinfo {
  display: flex;
  justify-content: space-evenly;
  width: 75%;
}
.contactinfo a {
  height: fit-content;
  padding-top: 50px;
  color: black;
  text-decoration: 0;
  border-bottom: 4px solid 
}
