* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: block;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(43, 49, 62);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(101, 207, 243);
}

header .title {
  background-color: rgb(101, 207, 243);
  color: rgb(43, 49, 62);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding-top: 5px;
  padding-left: 50px;
  padding-right: 10px;
}

body nav {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding-top: 5px;
  padding-left: 50px;
  padding-right: 50px;
}

body nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body nav ul li {
  display: inline-block;
  margin: 10px;
}

body nav ul li a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: large;
  color: rgb(101, 207, 243);
}

.banner {
  position: relative;
}

.banner {
  position: relative;
}

.banner img {
  max-width: 100%;
}

.banner-text {
  position: absolute;
  color: rgb(43, 49, 62);
  background-color: rgb(101, 207, 243);
  bottom: 10px;
  right: 100px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

main {
  display: flex;
  margin-top: 0;
}

.left {
  flex: 30%;
  background-color: #b9c6ae;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0;
  margin-right: 150px;
  margin-left: 150px;
}

.left h2 {
  display: flex;
  font-size: 35px;
  font-weight: bolder;
  text-align: right;
}

#aboutme {
}

.work {
}

.contactme {
}

.right {
  display: flex;
  flex-direction: column;
}

.right-p {
  padding-top: 40px;
  line-height: 26px;
  text-size-adjust: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(79, 79, 198);
}

.images {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}

.image {
  flex: 1 0 0;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}

.links {
  display: flex;
  justify-content: space-between;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: large;
  color: rgb(101, 207, 243);
}
